# .gitignore

# Ignore everything
*

# Allow directories to be considered
!*/
!.gitignore

# Specificially allow
!fastfetch/
!fastfetch/**
!hypr/
!hypr/**
!kitty/
!kitty/**
!waybar/
!waybar/**

# Ignore nvim directory and everything underneath
# because it's controlled by a different git repository
nvim/
nvim/**
